.match-section {
	position: relative;
	padding: 70px 0 30px;

	@include media('<widescreen') {
		padding: 60px 0;
	}

	@include media('<tablet') {
		padding: 30px 0;
	}

	.wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		@include media('<tablet') {
			display: block;
		}
	}

	.image-holder {
		position: relative;
		width: 32%;

		@include media('<tablet') {
			width: auto;
			max-width: 400px;
			margin: 0 auto 15px;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	.description {
		width: 64%;

		@include media('<tablet') {
			width: 100%;
		}
	}
}