.nav-drop {
	position: relative;
	padding: 0 50px 0 0;

	@include media('<widescreen') {
		padding: 0 40px 0 0;
	}

	@include media('<tablet') {
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		padding: 0;
		z-index: 9;
		max-height: 0;
		overflow: hidden;
		transition: all 0.4s ease;

		.nav-active & {
			max-height: 4000px;
		}
	}

	@include media('>=tablet') {
		transition: all 0.4s ease;
		opacity: 0;
		visibility: hidden;

		.nav-active & {
			opacity: 1;
			visibility: visible;
		}
	}
}

.menu {
	@include font-size(16px, 20px);

	font-weight: 700;
	display: flex;
	flex-direction: row;
	align-items: center;

	@include media('<desktop') {
		@include font-size(14px, 20px);
	}

	@include media('<tablet') {
		padding: 15px;
		display: block;
		background: $white;
		border-top: 2px solid $pink;
		transform: translate(0, -100%);
		transition: all 0.4s ease;

		.nav-active & {
			transform: none;
		}
	}

	li {
		padding: 0 23px;

		@include media('<widescreen') {
			padding: 0 15px;
		}

		@include media('<desktop') {
			padding: 0 10px;
		}

		@include media('<tablet') {
			padding: 0;
			margin: 0 0 15px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	a {
		color: $gray;

		&:hover {
			color: $pink;
		}
	}
}

.nav-opener {
	@include size(37px, 30px);
	position: absolute;
	right: 15px;
	top: 6px;
	border-top: 3px solid $gray;
	transition: all 0.4s ease;
	z-index: 3;

	.nav-active & {
		border-top: none;
	}

	@include media('<tablet') {
		top: 18px;
		width: 30px;
		height: 20px;
		border-top-width: 2px;
	}

	&:after,
	&:before {
		position: absolute;
		left: 0;
		right: 0;
		top: 10px;
		height: 3px;
		content: '';
		background: $gray;
		transition: all 0.4s ease;

		.nav-active & {
			transform: rotate(45deg);
			top: 15px;

			@include media('<tablet') {
				top: 10px;
			}
		}

		@include media('<tablet') {
			top: 6px;
			height: 2px;
		}
	}

	&:after {
		top: 23px;

		.nav-active & {
			transform: rotate(-45deg);
			top: 15px;

			@include media('<tablet') {
				top: 10px;
			}
		}

		@include media('<tablet') {
			top: 14px;
		}
	}
}